DEBUG: false
LEGACY_ENDPOINTS: false

AUTH_PROVIDERS:
  - factory: giftless.auth.jwt:factory
    options:
      algorithm: HS256
      private_key: "${GIFTLESS_JWT_SECRET}"
      public_key: "${GIFTLESS_JWT_SECRET}"
      issuer: hyperdraft-lfs
      default_lifetime: 7200
      leeway: 30
  - giftless.auth.allow_anon:read_only

TRANSFER_ADAPTERS:
  basic:
    factory: giftless.transfer.basic_external:factory
    options:
      storage_class: giftless.storage.amazon_s3:AmazonS3Storage
      storage_options:
        bucket_name: "${R2_BUCKET}"
        endpoint: "${R2_ENDPOINT}"
